registry=https://registry.npmmirror.com/
onlyBuiltDependencies[]=es5-ext
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=workerd
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=vue-demi
onlyBuiltDependencies[]=simple-git-hooks